<h1>Editing food</h1>

<%= render "form", food: @food %>

<br>

<div>
  <%= link_to "Show this food", @food,class:"text-white btn btn-primary bg-gradient link-light btn-sm my-3"
 %> |
  <%= link_to "Back to foods", foods_path ,class:"bi bi-arrow-left-circle-fill
text-white btn btn-primary bg-gradient link-light btn-sm my-3"
 %>
</div>
