h1 {
  background: #cfe7fa;
  background: linear-gradient(to right, #cfe7fa 0%, #6393c1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-app {
  width: 2rem;
  margin-right: 0.5rem;
}

.border {
  border: 1px solid black;
}

a {
  color: black;
  text-decoration: none;
}

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/black-kitchen-stone-.webp');
  filter: blur(7px);
  z-index: -1;
}

.glass-bg {
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #f1f1f1;
}
